body{
    background-color: black;
    color: white;
  }
  .card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 50px;
}

.card {
  height: 150px;
    width: calc(33.33% - 60px); /* Adjust the width as needed */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    transition: transform 0.2s;
    background-color: blue;
}
#one{
  background-color: rgb(68, 82, 82);
}
#two{
  background-color: rgb(209, 18, 37);
}
#three{
  background-color: aqua;
}
#four{
  background-color: rgb(191, 47, 66);
}
#five{
  background-color: rgb(98, 189, 8);
}
h1{
  margin-top: 0;
}
.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 40px;
    margin: 0;
}

.card p {
    font-size: 16px;
    margin: 10px 0;
}